body {
	margin: 0;
	font-family: var(--font-family1);
	background: var(--color-body);
}

.page_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}

.header_bg {
	-webkit-mask-image: linear-gradient(
		to top,
		transparent,
		rgba(0, 0, 0, 0.013) 8.1%,
		rgba(0, 0, 0, 0.049) 15.5%,
		rgba(0, 0, 0, 0.104) 22.5%,
		rgba(0, 0, 0, 0.175) 29%,
		rgba(0, 0, 0, 0.259) 35.3%,
		rgba(0, 0, 0, 0.352) 41.2%,
		rgba(0, 0, 0, 0.45) 47.1%,
		rgba(0, 0, 0, 0.55) 52.9%,
		rgba(0, 0, 0, 0.648) 58.8%,
		rgba(0, 0, 0, 0.741) 64.7%,
		rgba(0, 0, 0, 0.825) 71%,
		rgba(0, 0, 0, 0.896) 77.5%,
		rgba(0, 0, 0, 0.951) 84.5%,
		rgba(0, 0, 0, 0.987) 91.9%,
		#000
	);
	opacity: 0.4;
	background: url(./assets/header_img.jpg) no-repeat center/cover;
	position: absolute;
	top: 0;
	height: 60vh;
	width: 100%;
	z-index: -1;
}

.heading_title {
	font-size: 98px;
	width: fit-content;
	text-align: center;
	margin: 3vh auto 10vh;
	font-weight: 400;
	font-family: var(--font-family2);
}

.heading_title_wrapper {
}

.feature_content {
	max-width: 700px;
	margin: auto;
	font-size: 22px;
}

.feature h4 {
	font-size: 24px;
	margin-bottom: 22px;
	font-weight: 700;
}

.feature h3 {
	margin-bottom: 30px;
	margin-left: -1px;
	line-height: 1.4;
	font-weight: 400;
	font-size: 45px;
	margin-top: 60px;
	font-family: var(--font-family2);
}

.feature ul {
	padding-left: 15px;
	list-style: disc outside;
	margin-right: 0px;
}

.feature ul ul {
	font-size: 90%;
	margin: 15px 0;
}

a {
	color: var(--color-font-one);
}

.feature li {
	margin-bottom: 10px;
	font-weight: 400;
	color: var(--color-font-one);
}

@media screen and (max-width: 1280px) {
	.heading_title {
		margin-bottom: 8vh;
	}
}

:root {
	--font-family1: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Helvetica, Arial, sans-serif;
	--font-family2: "EB Garamond", serif;
	--color-body: #f2efe4;
	--color-font-one: #1e1e1e;
}
